/src/acinclude.m4
/src/aclocal.m4
/src/autom4te.cache/*
/src/build/*
/src/config.*
/src/configure
/src/configure.in
/src/.deps
/src/install-sh
/src/.libs/*
/src/libtool
/src/ltmain.sh
/src/Makefile*
/src/missing
/src/mkinstalldirs
/src/modules/*
/src/run-tests.php
/src/util.la
/src/util.lo
